<section class="about m-4">
    <div class="card lg:card-side bg-base-100 shadow-sm">
        <figure>
            <img src="/assets/images/Kynseed Hunt.webp" alt="Album" loading="lazy" />
        </figure>
        <div class="card-body">
            <h2>José Enrique García Calderón</h2>
            <h3>{{ 'about.position' | translate }}</h3>
            <p>{{ 'about.description' | translate }}</p>
            <div class="card-actions justify-end">
                <button class="btn btn-primary">Listen</button>
            </div>
        </div>
    </div>
</section>
