.about {
    gap: 1rem;
    background-color: var(--secondary-color);

    .about__photo {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media screen and (min-width: 668px) {
    .about__photo {
        grid-row: span 2; /* Ocupa dos filas */
        grid-column: 1;
    }
    
}