<section class="about grid grid-2">
    <div class="about__photo">
        <img src="/assets/images/Kynseed Hunt.webp" alt="José Enrique García Calderón" loading="lazy">
    </div>
    <div class="about__me">
        <h2>José Enrique García Calderón</h2>
        <h1 class="title">{{ 'about.position' | translate }}</h1>
        <p>{{ 'about.description' | translate }}</p>
    </div>
    <div class="about__exp">
        <h3>+2</h3>
        <p class="title">{{ 'about.experience' | translate }}</p>
    </div>
</section>