<section class="about grid grid-2 m-1">
    <div class="about__photo">
        <img src="/assets/images/Kynseed Hunt.webp" alt="José Enrique García Calderón" loading="lazy">
    </div>
    <div class="about__me flex flex-col justify-center items-center m-1 text-center">
        <h2 class="subtitle-2">José Enrique García Calderón</h2>
        <h1 class="subtitle">{{ 'about.position' | translate }}</h1>
        <p>{{ 'about.description' | translate }}</p>
    </div>
    <div class="about__exp flex flex-col justify-center items-center m-1">
        <h1>+2</h1>
        <p>{{ 'about.experience' | translate }}</p>
    </div>
</section>