.navbar__container {
    background-color: var(--tertiary-color);
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 99;
    height: 50px;
}

.navbar {
    display: flex;
    width: 100%;
    max-width: 800px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    color: white;
    background-color: transparent;

    .spacing  {
        flex: 1;
    }

    .name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: clamp(1rem, 3vw, 1.5rem);
    }

    .navbar__option {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        padding: 8px 12px;
        cursor: pointer;
        color: white;
        background-color: var(--tertiary-color);
        text-decoration: none;
        border: none;
        gap: 1rem;
        border-radius: 15px;
        font-size: 2rem;

        &:hover {
            background-color: var(--light-color);
            color: var(--secondary-color);
            transition: color 0.3s ease-in-out;
        }
    }

    .small {
        font-size: 1.2rem;
    }
}

.mat-menu-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .icon {
        visibility: hidden;
    }
}

.mat-menu-option.active {
    .icon {
        visibility: visible;
    }
}

::ng-deep .mat-mdc-menu-content {
    background-color: var(--white-color);
    color: var(--primary-color);
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 700px) {
    .navbar__container {
        top: 0;
    }
}