.navbar__container {
    background-color: var(--tertiary-color);
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 99;
    height: 50px;

    opacity: 0; /* Oculta inicialmente */
    animation: fadeIn 0.8s ease-in-out forwards; /* Aplica la animación */
    animation-delay: var(--animation-delay, 0s); /* Permite un retraso opcional */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.navbar {
    display: flex;
    width: 100%;
    max-width: 800px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    color: white;
    background-color: transparent;

    .spacing  {
        flex: 1;
    }

    .name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: clamp(1rem, 3vw, 1.5rem);
    }
}

.mat-menu-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .icon {
        visibility: hidden;
    }

    &:focus, &:hover {
        background-color: var(--primary-color)!important;
        color: var(--lighter-color)!important;
        transition: background-color 0.1s ease-in-out!important;
    }
}

.mat-menu-option.active {
    .icon {
        visibility: visible;
    }
}

::ng-deep .mat-mdc-menu-content {
    background-color: var(--white-color);
    color: var(--primary-color);
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 700px) {
    .navbar__container {
        top: 0;
    }
}