<div class="navbar__container">
    <nav class="navbar">
        <button class="navbar__option font-19" aria-label="email" (click)="openLink(0)">
            <span class="icon icon-mail"></span>
        </button>
        <button class="navbar__option font-19" aria-label="github" (click)="openLink(1)">
            <span class="icon icon-github"></span>
        </button>
        <button class="navbar__option font-19" aria-label="whatsapp" (click)="openLink(2)">
            <span class="icon icon-whatsapp"></span>
        </button>
        <button class="navbar__option font-19" aria-label="change language" [matMenuTriggerFor]="menu">
            <span class="icon icon-language"></span>
        </button>
        <mat-menu #menu="matMenu" aria-label="language menu">
            <button mat-menu-item class="mat-menu-option" aria-label="language_spanish" [ngClass]="{'active': currentLanguage === 'es-MX'}" (click)="setLanguage('es-MX')">
                {{ 'header.lang_options.spanish' | translate }}
                <span class="icon icon-check"></span>
            </button>
            <button mat-menu-item class="mat-menu-option" aria-label="laanguaje english" [ngClass]="{'active': currentLanguage !== 'es-MX'}" (click)="setLanguage('en-US')">
                {{ 'header.lang_options.english' | translate }}
                <span class="icon icon-check"></span>
            </button>
        </mat-menu>
    </nav>
</div>