<section class="projects m-4">
    <h1 class="title">{{ 'projects.title' | translate }}</h1>
    <div class="flex flex-wrap sm:grid lg:grid-cols-2 gap-4">
        <div class="card bg-blue-200 image-full shadow-sm"
            *ngFor="let item of ('projects.list' | translate); let i = index">
            <figure>
                <img [src]="staticData[i].image" alt="Shoes" />
            </figure>
            <div class="card-body">
                <h2 class="card-title">{{ staticData[i].title }}</h2>
                <p>{{ item.description }}</p>
                <div class="card-actions justify-end">
                    <div class="badge badge-outline icon" *ngFor="let tech of staticData[i].technologies"
                        [ngClass]="`icon-${tech}`">Fashion</div>
                </div>
                <div class="separator"></div>
                <div class="project__options">
                    <button *ngIf="staticData[i].has_repo === true" aria-label="Visit repository"
                        class="navbar__option font-19" (click)="goToProject(staticData[i].repo)">
                        <span class="icon icon-github"></span>
                    </button>
                    <button *ngIf="staticData[i].has_project === true" aria-label="View on live"
                        class="navbar__option font-19" (click)="goToProject(staticData[i].url)">
                        <span class="icon icon-home"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
