<section class="projects">
    <h1 class="title">{{ 'projects.title' | translate }}</h1>
    <div class="projects__container flex flex-row flex-wrap justify-center">
        <div class="project__card m-1" *ngFor="let item of ('projects.list' | translate); let i = index" [style.background-image]="'url(\'' + staticData[i].image + '\')'">
            <div class="project__bg flex flex-col">
                <h2 class="subtitle">{{ staticData[i].title }}</h2>
                <div class="project__description text-content flex-1">
                    {{ item.description }}
                </div>
                <div class="project__badge__container flex-1">
                    <span class="badge__icon icon" *ngFor="let tech of staticData[i].technologies" [ngClass]="`icon-${tech}`"
                        [style.border-color]="getColor(tech)"
                        [style.color]="getColor(tech)"></span>
                </div>
                <div class="separator"></div>
                <div class="project__options">
                    <button *ngIf="staticData[i].has_repo === true" aria-label="Visit repository" class="navbar__option font-19" (click)="goToProject(staticData[i].repo)">
                        <span class="icon icon-github"></span>
                    </button>
                    <button *ngIf="staticData[i].has_project === true" aria-label="View on live" class="navbar__option font-19" (click)="goToProject(staticData[i].url)">
                        <span class="icon icon-home"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>