.main_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 850px;
    flex: 1;
}
.placeholder {
  height: 300px; /* Ajusta según tu diseño */
  background: #f5f5f5;
  margin: 20px 0;
  border-radius: 8px;
}