<app-navbar />
<div class="main_page">
    @defer (on viewport) {
        <app-about appFadeIn  />
    } @placeholder {
        <div class="placeholder"></div>
    }

    @defer (on viewport) {
        <app-projects appFadeIn  />
    } @placeholder {
        <div class="placeholder"></div>
    }

    @defer (on viewport) {
        <app-skills appFadeIn  />
    } @placeholder {
    <div class="placeholder"></div>
    }

    @defer (on viewport) {
        <app-experience appFadeIn  />
    } @placeholder {
        <div class="placeholder"></div>
    }

    @defer (on viewport) {
        <app-contact appFadeIn  />
    } @placeholder {
        <div class="placeholder"></div>
    }
</div>