.skills {
    .skills__tech {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;

        .skills__item {
            color: var(--white-color);
            border-radius: 50%;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .icon {
                margin-bottom: 6px;
            }
        }
    }
}