@font-face {
    font-family: 'DMSans';
    src: url('./assets/fonts/DMSans.woff2') format('woff2'),
         url('./assets/fonts/DMSans.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

:root {
    --primary-color: #10002b;
    --secondary-color: #240046;
    --tertiary-color: #3c096c;

    --base-color: #7b2cbf;
    --base-color-light: #9d4edd;
    --base-color-dark: #5a189a;

    --light-color: #c77dff;
    --lighter-color: #e0aaff;

    --white-color: #ffffff;
    
    --primary-color-rgb: 16, 0, 43; /* #10002b */
    --secondary-color-rgb: 36, 0, 70; /* #240046 */
    --tertiary-color-rgb: 60, 9, 108; /* #3c096c */

    --base-color-rgb: 123, 44, 191; /* #7b2cbf */
    --base-color-light-rgb: 157, 78, 221; /* #9d4edd */
    --base-color-dark-rgb: 90, 24, 154; /* #5a189a */

    --light-color-rgb: 199, 125, 255; /* #c77dff */
    --lighter-color-rgb: 224, 170, 255; /* #e0aaff */

    --white-color-rgb: 255, 255, 255; /* #ffffff */
}

/* You can add global styles to this file, and also import other style files */
/* Reset de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Hace que el padding y border no afecten el ancho/alto total */
}

/* Heredar box-sizing para elementos anidados */
html {
    box-sizing: border-box;
}

html, body {
    background-color: var(--primary-color);
    color: var(--white-color);
    font-family: 'DMSans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

app-root, app-main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.title {
    margin: 8px 1rem;
}

.content {
    margin: 1rem;
}