.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.justify-around {
    justify-content: space-around;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: flex-start;
}

.grid {
    display: grid;
}

.grid-2,
.grid-3 {
    grid-template-columns: 1fr;
}